:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #C9E9FF;
  background: -webkit-linear-gradient(top left, #C9E9FF, #9685DD);
  background: -moz-linear-gradient(top left, #C9E9FF, #9685DD);
  background: linear-gradient(to bottom right, #C9E9FF, #9685DD);
}

#app {
  margin: 0;
  padding: 2rem;
}

.form-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 25px;
  margin: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #2a2a2a;
}

h3 {
  padding: 0;
  color: #2a2a2a;
}

.table-data {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 25px;
  margin: 20px 0px;
}

.buttons {
  gap: 1em;
}